<p id="notice"><%= notice %></p>

<p>
  <strong>Radio value:</strong>
  <%= @sale.radio_value %>
</p>

<p>
  <strong>Toggle flag 1:</strong>
  <%= @sale.toggle_flag_1 %>
</p>

<p>
  <strong>Toggle flag 2:</strong>
  <%= @sale.toggle_flag_2 %>
</p>

<p>
  <strong>Toggle flag 3:</strong>
  <%= @sale.toggle_flag_3 %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
